html,
body {
    height: 100%;
    position: relative;
}

.main-column {
    min-height: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    top: 25px;
    position: relative;
}

.btn a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    border: solid 1px #F47C48;
    border-radius: 3px;

    padding: 15px;
    cursor: pointer;
    width: 150px;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #F47C48;
    transition: all 0.4s ease 0.1s;
}

.btn:hover a {
    color: white;
    transition: all 0.4s ease 0.1s;
}

footer {
    /* height: 60px; */
    /* position: fixed; */
    position: absolute;
    width: 100%;
    /* bottom: 0; */
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px;
    left: 0;
    right: 0;
}

footer a {
    border: none;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background: #000;
    flex-direction: row;
    color: white;
    text-decoration: none;
    transition: all .3s;
}


svg.svg-inline--fa.fa-w-16 {
    vertical-align: middle;
    color: #fff;
}

footer a:nth-of-type(1):hover {
    background: #25a8e0;
}

footer a:nth-of-type(2):hover {
    background: #A9D9ED;
}

footer a:nth-of-type(3):hover {
    background: #0d7bb7;
}

.blogpost__list {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
}

.blogpost__item {
    flex-basis: 25%;
    margin: 15px;
    top: 0px;
    background-color: rgb(255, 255, 255);
    /* padding: 14px; */
    border-radius: 6px;
    transition: all 0.4s ease 0.1s;
    border: 1px solid #e5e5e5;
}

.blogpost__item:hover {
    background: rgb(239, 239, 239);
    transform: translateY(-5%);
    transition: all 0.4s ease 0.1s;
}

.blogpost__item a {
    text-decoration: none;
    color: black;
}

.blogpost__item img {
    margin-bottom: 0;
}

.blogpost__preview {
    padding: 10px;
}

.blogpost__preview h2 {
    line-height: 1.2em;
    font-size: 20px;
    font-weight: 700;
    margin: 14px 0;
}

.blogpost__preview h2 a {
    color: black;
    text-decoration: none;
}

.blogpost__tags {
    display: flex;
    align-items: center;
}

.blogpost__tag {
    font-size: 14px;
    padding: 0 6px;
    margin-bottom: 0;
}

.blogpost__tag:nth-of-type(1) {
    padding-right: 0;
}

.blogpost__date {
    display: inline-block;
    font-size: 12px;
    margin: 10px 0px 0px;
}

.blogpost__timeToRead {
    display: inline-block;
    font-size: 12px;
    margin: 10px 5px 0px;
    font-weight: bold;
    float: right;
}


pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
    background-color: rgb(40, 44, 52);
}

/*
      Tablet
      ==================================
  */
@media only screen and (min-device-width: 768px) and (max-width: 1023px) {
    .blogpost__list {
        display: inline-block;
    }

    .blogpost__item {
        width: 46%;
        float: left;
    }
}

/*
      Mobile
      ==================================
  */
@media only screen and (max-width: 767px) {
    .blogpost__list {
        flex-direction: column;
    }
}