html,
body {
    height: 100%;
    position: relative;
}

svg.svg-inline--fa.fa-w-16 {
    vertical-align: middle;
    color: #fff;
}


.blogpost pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
    background-color: rgb(40, 44, 52);
}