* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
}

.timeline__container {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.timeline__list {
  position: relative;
  max-width: 95%;
  list-style: none;
}

.timeline__list:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
}

.timeline__event {
  position: relative;
}

.event__date {
  color: white;
  background-color: black;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.event__icon {
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.event__content {
  padding: 2em 2em 0 2em;
  position: relative;
  top: -1.875em;
  left: 2em;
  width: 95%;
}

.event__title {
  font-size: 1.75em;
}

.event__subtitle {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline__event.col-right {
  left: 50%;
  width: 50%;
}

.timeline__event.col-right .event__icon {
  left: 0;
}

.timeline__event.col-left {
  width: 50%;
}

.timeline__event.col-left .event__icon {
  left: 100%;
}